body {
    margin: 10px;
    background-image: url(https://i.ytimg.com/vi/PenI9DE1dx4/maxresdefault.jpg)
}
h1 {
    text-align: center;
    color: blue;
}
.lead {
    text-align: center;

}
#gif-form {
    text-align: center;
}
#button-container {
    text-align: center;
}
.gifImg {
    width: 300px;
    height: 300px;
}
.gifbutton {
    height: 50px;
    width: 120px;
    margin-left: 10px;
    background-color: tan;
    color: aqua;
    border-radius: 12px;
}
.gifbutton:hover {
    height: 60px;
    width: 140px;
    margin-left: 10px;
    background-color: aqua;
    color: tan;
    border-radius: 12px;
}
#gifbutton {
    height: 50px;
    width: 120px;
    margin-left: 10px;
    background-color: tan;
    color: aqua;
    border-radius: 12px;
}
#gifbutton:hover {
    height: 60px;
    width: 140px;
    margin-left: 10px;
    background-color: aqua;
    color: tan;
    border-radius: 12px;
}
label {
    height: 25px;
    width: 120px;
    margin-left: 10px;
    background-color: tan;
    color: aqua;
    border-radius: 12px;
}